<template name="appLayout">
    <div id="main"><head>
        <title>stressWinnerTestApp</title>

    </head>

        <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Welcome to the StressWinner mock-up App!
                    </a>
                </div>
            </div>
        </nav>
            {{> yield}}
        </body>

        <footer>
            <!--{{> footer}}-->
        </footer>
    </div>
</template>